/.venv
.env
/data/pronosticos_erv/respaldo_2016
*.csv
!data_erv.csv
!data_erv_aggregated.csv
!df_final.csv
!df_final_metadata.csv
!df_final_metadata_classes.csv
*.pdf
!info/Diagrama-Maestro 005-23 (1).pdf
*.aux
*.log
data/pronostico_erv/data_erv.csv
